@media (max-width: 900px) {
    .blogs-news-container {
        padding: 0 20px 40px;
    }
    .blogs-posts-container,
    .profile-projects-container {
        padding: 0 20px 40px;
    }
    .blogs-posts-container div,
    .profile-projects-container div{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        padding: 0 20px;
    }
    .contact-main-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .profile-main-container {
        padding: 40px 20px;
    }
    .profile-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 430px) {
    header .header-icons-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header .header-icons-container .icons {
        display: flex;
        margin-right: 0;
    }
    [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
        margin-left: 0;
    }
    nav .nav-logo-container {
        margin-left: 0;
    }
    nav .nav-logo-container img {
        width: 190px;
    }
    nav .nav-profile-link {
        margin-right: 20px;
        padding-bottom: 15px;
    }
    nav .nav-profile-link a {
        font-size: 1.4rem;
    }
    .home-main {
        grid-template-columns: 1fr;
    }
    .home-main .main-text-container h1 {
        font-size: 3rem;
    }
    .home-main .main-button-container button{
        width: 145px;
        height: 55px;
        margin-top: 80px;
    }
    .main-button-container button a {
        font-size: 1.8rem;
    }
    .blogs-news-container {
        padding: 0 10px 40px;
    }
    .blogs-main-new {
        display: inline-block;
    }
    .blogs-main-new h3 {
        text-align: center;
        padding: 15px 0;
    }
    .blogs-news-img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .profile-img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .blogs-news-info-container h2,
    .profile-info-container h2 {
        font-size: 1.8rem;
        margin: 10px 0 20px;
    }
    .blogs-news-info-container p {
        font-size: 1.4rem;
    }
    .profile-info-container p {
        font-size: 1.2rem;
    }
    .blogpost-img-container {
        padding: 0 0 20px;
    }
    .blogpost-main-container {
        padding: 0 25px 40px;
    }
    .blogpost-main-container h3 {
        text-align: center;
    }
    .blogpost-main-container article h1 {
        font-size: 2.8rem;
        padding: 30px 0;
    }
    .blogpost-main-container article p {
        font-size: 1.2rem;
    }
    .post-container h4,
    .projects-container h4 {
        padding: 12px 0 14px;
        font-size: 1.6rem;
    }
    .post-container p,
    .projects-container p {
        padding-bottom: 30px;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .profile-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .blogs-news-img-container,
    .profile-img-container {
        grid-column: 2;
    }
    .blogs-news-info-container {
        grid-column: 2;
    }
    .profile-info-container {
        grid-row: 2;
        margin-left: 0;
        align-self: center;
    }
    .post-container,
    .projects-container {
    padding-bottom: 30px;
    }
    .blogs-posts-container,
    .profile-projects-container {
        padding: 0 10px 20px;
    }
    .blogs-posts-container div,
    .profile-projects-container div{
        display: inline-block;
    }
    .contact-main-container {
        height: 400px;
    }
    .contact-main-container img {
        width: 80px;
    }
    .contact-left,
    .contact-right {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        justify-items: center;
    }
    .contact-text-container {
        margin: 5px 0;
        font-size: 1.2rem;
        text-align: center;
    }
    footer p {
        font-size: 1.2rem;
    }
}